.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/img/sidibousaid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.hero-container {
    text-align: center;
}

.text h1 {
    color: #fff;
}

.text p {
    color: #fff;
}

.form-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #aed6dc;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
}

form input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.2);
    margin-top: 5px;
    border-radius: 5px;
}

form span {
    font-size: 14px;
    color: black;
}

input::placeholder {
    font-size: 15px;
    color: grey;
}

form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128, 128, 0.2);
}

form .box:nth-child(1) {
    border-left: none;
}

form h4 {
    font-weight: 400;
    cursor: pointer;
    color: #4A536B;
}

.btn1 {
    background-color: #ff9A8F;
    /* couleur de fond */
    color: #4A536B;
    /* couleur du texte */
    border: none;
    /* retirer la bordure */
    border-radius: 5px;
    /* arrondir les coins */
    padding: 8px 16px;
    /* espacement interne */
    cursor: pointer;
}
.form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #aed6dc;
    
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 20px;
}

@media screen and (max-width: 800px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../../../public/img/cover.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .form-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0 20px;
    }
    

    .hero .hero-container {
        padding-top: 30%;
    }

    form {
        display: flex;
        flex-wrap: wrap;
    }
    form span {
        font-size: 24px;
        color: black;
    }

    form .box {
        border-left: none;
    }

    form input {
        width: 100%;
    }
}