.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 50px;
}

.cards .carousel {
    width: 286px;
    height: 160px;

}

.cards_carousel img {
    width: 286px;
    max-height: 160px;
    border-radius: 5px;

}

.cards button {
    background-color: #FF9A8F;
    color: #4A536B;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
    }
}